// Initialize good style and good font sur all icons
i[class*="ic-"] {
    font-family: "generic-icons";
    font-style: normal;
    font-weight: normal;
}

// Icons list
.ic-apps::before {
    content: "\e86c";
}
.ic-close::before {
    content: "\e866";
}
.ic-community::before {
    content: "\e814";
}
.ic-conversation::before {
    content: "\e804";
}
.ic-disconnect::before {
    content: "\e842";
}
.ic-help::before {
    content: "\e835";
}
.ic-home::before {
    content: "\e82b";
}
.ic-search::before {
    content: "\e8d0";
}
.ic-star::before {
    content: "\e9d9";
}
.ic-plus::before {
    content: "\e85e";
}
.ic-minus::before {
    content: "\e95b";
}
.ic-user::before {
    content: "\e905";
}
.ic-users::before {
    content: "\e822";
}
.ic-public::before {
    content: "\e8d1";
}
.ic-share::before {
    content: "\e815";
}
.ic-view::before {
    content: "\e873";
}
.ic-comment::before {
    content: "\e8d2";
}
.ic-chevron-right::before {
    content: "\e823";
}

.ic-grid::before {
    content: "\e940";
}
.ic-list::before {
    content: "\e84f";
}

.ic-folder::before {
    content: "\e846";
}

.ic-burger::before {
    content: "\e956";
}

// Icons editor

.color-app {
    @each $app, $data in $applications {
        &-#{$app}{
            color: map-get($data, "color");
        }
    }
}
.bg-app {
    @each $app, $data in $applications {
        &-#{$app}{
            background-color: map-get($data, "color");
        }
    }
}

// Applications icons list
.ic-app {
    &.competences,
    &.competences-large {
        &::before {
            content: "\e927";
        }
    }
    &.cahier-textes,
    &.cahier-textes-large {
        &::before {
            content: "\e86f";
        }
    }
    &.calendar,
    &.calendar-large {
        &::before {
            content: "\e834";
        }
    }
    &.collaborative-wall,
    &.collaborative-wall-large {
        &::before {
            content: "\e800";
        }
    }
    &.community,
    &.community-large {
        &::before {
            content: "\e814";
        }
    }
    &.forum,
    &.forum-large {
        &::before {
            content: "\e81e";
        }
    }
    &.pages,
    &.pages-large {
        &::before {
            content: "\e876";
        }
    }
    &.poll,
    &.poll-large {
        &::before {
            content: "\e832";
        }
    }
    &.rack,
    &.rack-large {
        &::before {
            content: "\e80d";
        }
    }
    &.rbs,
    &.rbs-large {
        &::before {
            content: "\e80e";
        }
    }
    &.searchengine,
    &.searchengine-large {
        &::before {
            content: "\e8d0";
        }
    }
    &.sharebigfiles,
    &.sharebigfiles-large {
        &::before {
            content: "\e8cb";
        }
    }
    &.schoolbook,
    &.schoolbook-large {
        &::before {
            content: "\e91e";
        }
    }
    &.archive,
    &.archive-large {
        &::before {
            content: "\e81d";
        }
    }
    &.admin,
    &.admin-large {
        &::before {
            content: "\e81a";
        }
    }
    &.cahier-de-texte,
    &.cahier-de-texte-large {
        &::before {
            content: "\e910";
        }
    }
    &.wiki,
    &.wiki-large {
        &::before {
            content: "\e813";
        }
    }
    &.cns,
    &.cns-large {
        &::before {
            content: "\e88a";
        }
    }
    &.conversation,
    &.conversation-large {
        &::before {
            content: "\e804";
        }
    }
    &.paths,
    &.paths-large {
        &::before {
            content: "\e94d";
        }
    }
    &.notebook,
    &.notebook-large {
        &::before {
            content: "\e8d4";
        }
    }
    &.scrap-book,
    &.scrap-book-large {
        &::before {
            content: "\e8d4";
        }
    }
    &.blog,
    &.blog-large {
        &::before {
            content: "\e809";
        }
    }
    &.account,
    &.account-large {
        &::before {
            content: "\e905";
        }
    }
    &.support,
    &.support-large {
        &::before {
            content: "\e835";
        }
    }
    &.workspace,
    &.workspace-large {
        &::before {
            content: "\e81b";
        }
    }
    &.admin-portal,
    &.admin-portal-large {
        &::before {
            content: "\e908";
        }
    }
    &.stats,
    &.stats-large {
        &::before {
            content: "\e909";
        }
    }
    &.userbook,
    &.userbook-large {
        &::before {
            content: "\e811";
        }
    }
    &.mindmap,
    &.mindmap-large {
        &::before {
            content: "\e859";
        }
    }
    &.timelinegenerator,
    &.timelinegenerator-large {
        &::before {
            content: "\e819";
        }
    }
    &.actualites,
    &.actualites-large {
        &::before {
            content: "\e85b";
        }
    }
    &.pad,
    &.pad-large {
        &::before {
            content: "\e829";
        }
    }
    &.settings-class,
    &.settings-class-large {
        &::before {
            content: "\e942";
        }
    }
    &.library,
    &.library-large {
        &::before {
            content: "\e94c";
        }
    }
    &.visioconf,
    &.visioconf-large,
    &.Web-conference,
    &.Web-conference-large {
        &::before {
            content: "\e957";
        }
    }
    &.notes,
    &.notes-large {
        &::before {
            content: "\e832";
        }
    }
    &.attendance,
    &.attendance-large {
        &::before {
            content: "\e80b";
        }
    }
    &.exercizer,
    &.exercizer-large {
        &::before {
            content: "\e833";
        }
    }
    &.calendar,
    &.calendar-large {
        &::before {
            content: "\e834";
        }
    }
    &.collaborative-wall,
    &.collaborative-wall-large {
        &::before {
            content: "\e800";
        }
    }
    &.statistics,
    &.statistics-large {
        &::before {
            content: "\e810";
        }
    }
    &.polls,
    &.poll-large {
        &::before {
            content: "\e832";
        }
    }
    &.community,
    &.community-large {
        &::before {
            content: "\e814";
        }
    }
    &.forum,
    &.forum-large {
        &::before {
            content: "\e81e";
        }
    }
    &.pages,
    &.pages-large {
        &::before {
            content: "\e876";
        }
    }
    &.rbs,
    &.rbs-large {
        &::before {
            content: "\e80e";
        }
    }
    &.sharebigfiles,
    &.sharebigfiles-large {
        &::before {
            content: "\e8cb";
        }
    }
    &.website,
    &.website-large {
        &::before {
            content: "\e94a";
        }
    }
    &.parametrage,
    &.parametrage-large {
        &::before {
            content: "\e92f";
        }
    }
    &.video,
    &.video-large {
        &::before {
            content: "\e872";
        }
    }
    &.kne,
    &.kne-large {
        &::before {
            content: "\e81f";
        }
    }
    &.sacoche,
    &.sacoche-large {
        &::before {
            content: "\e899";
        }
    }
}
