.link,
.link a {
    @include color-to($primary);
    color: $deepBlue;
    font-weight: 500;
    cursor: pointer;
}
.link-discret,
.link-discret a {
    @include color-to($deepBlue);
    color: currentColor;
    font-weight: 500;
    cursor: pointer;
}

.subtitle {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
